<%= link_to "Cherry Berry Quilts", root_path, :class => 'brand' %>
<ul class="nav">
	<li>
		<%= link_to "Home", page_path("home") %>
	</li>
	<li>
		<%= link_to "Classes & Events", page_path("events") %>
	</li>
	<li>
		<%= link_to "Longarm Services", page_path("services") %>
	</li>
	<li>
		<%= link_to "About", page_path("about") %>
	</li>
	<ul class="nav pull-right">
		<li class="divider-vertical"></li>
		<li>
			<li><a href="http://www.quiltersresources.net">QuiltersResources.net</a></li>
		</li>
	</ul>
</ul>
